@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel+Decorative:wght@700&family=Dosis:wght@200&family=Kaushan+Script&family=Luckiest+Guy&family=Shadows+Into+Light&display=swap');

* {
  margin: 0;
  padding: 0;
}
/* INICIO STYLE INDEX */
/* **************************************************************************** */

main {
  background-color: antiquewhite;
}
header .btncampeones {
  font-size: 2vw;
  font-family: 'Kaushan Script', cursive;
  background-color: #ffc34a;
  color: black;
  justify-content: center;
  display: flex;
}
.container-fluid {
  background-image: url(../images/veryperi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: white;   
}
.scaloneta{
  justify-content: center;
  max-width: 100%;
  height: auto;
  padding: 30px 0 0 0;
}
.nav-item a{
  font-size: 1.5vw;
  color: white;
  font-family: 'Anton', sans-serif;
  
}
.nav-item a:hover{
  background-color: skyblue;
  filter: brightness(150%);
  color: black;
}


.container1row{
 margin-top: .5em;
 justify-content: center;
 margin-left: .5em;
 margin-right: .5em;
 margin-bottom: .5em;
}

.container1row .col-12 {
  display: flex;
  justify-content: flex-end;
  
  
}
.container1row .col-12 {
  display: flex;
  justify-content: center;

}
.col-12 p{
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 1.5vw;
  font-family: 'Dosis', sans-serif;
}
.declaracion {
  margin-top: .5em;
  font-size: 1.5vw;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  margin: auto;
  background-color: #7FF56D;
  width: 45vw;
  font-family: 'Kaushan Script', cursive;
}
.container2row{
  margin-top: .5em;
  justify-content: center;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: .5em;
 }
 
 .container2row .col-9{
   display: flex;
   justify-content: flex-end;
   
 }
 .container2row .col-3{
   display: flex;
   justify-content: center;
   text-align: right;
   
 
 }
 .col-3 p{
  font-size: 1.5vw;
  font-family: 'Dosis', sans-serif;
}
.declaracion2 {
  margin-top: .5em;
  font-size: 1.5vw;
  font-weight: bold;
  justify-content: left;
  text-align: center;
  margin: auto;
  background-color: #f5986d;
  width: 45vw;
  font-family: 'Kaushan Script', cursive;
}
.container3row{
  margin-top: .5em;
  justify-content: center;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: .5em;
 }
 .container3row .col-8 {
  display: flex;
  justify-content: flex-end;
  
}
.container3row .col-4 {
  display: flex;
  justify-content: center;
  

}
.col-4 p{
  font-size: 1.5vw;
  font-family: 'Dosis', sans-serif;
}

.declaracion3 {
  margin-top: .5em;
  font-size: 1.5vw;
  font-weight: bold;
  justify-content: left;
  text-align: center;
  margin: auto;
  background-color: #6de1f5;
  width: 45vw;
  font-family: 'Kaushan Script', cursive;
}
.container4row{
  margin-top: .5em;
  justify-content: center;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: .5em;
 }
 
 .container4row .col-8{
   display: flex;
   justify-content: flex-end;
   
 }
 .container4row .col-4{
   display: flex;
   justify-content: center;
 
 }
 .col-4 p{
  font-size: 1.5vw;
  font-family: 'Dosis', sans-serif;
}

.container5row{
  margin-top: .5em;
  justify-content: center;
  margin-left: .5em;
  margin-right: .5em;
  margin-bottom: .5em;
 }
 
 .container5row .col-12{
   display: flex;
   justify-content: flex-end;
   
 }
 .container5row .col-12{
   display: flex;
   justify-content: center;
 
 }
 .col-12 p{
  font-size: 1.5vw;
  font-family: 'Dosis', sans-serif;
}



 
/* INICIO STYLE "EL CAMINO" */
/* **************************************************************************** */

.header2 {
  background-image: url(../images/veryperi.jpg); 
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 40px;
  margin: 0;
  text-align: center;
  justify-content: center;
  color: white;   
}
.encabezado1{
  font-size: 2em;
  font-family: 'Luckiest Guy', cursive;
}
.encabezado1btn {
  width: 22em;
  display: inline-flex;
  justify-content: center;
  font-family: 'Anton', sans-serif;
  background-color: #ffc34a;
  color: black;
  border-radius: 0 70px 0 70px;
}

.nav-item2 a:hover{
  background-color: #7FF56D;
  filter: brightness(150%);
}

.capitulo {
  margin-top: 30px;  
  font-size: 1.5em;
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  color: black;
}
.nombrecapitulo{
  font-size: 1em;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: black;
  font-family: 'Anton', sans-serif;
    
}
.resultado {
  font-size: 1em;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  margin: auto;
  background-color: #7FF56D;
  width: 350px;
  font-family: 'Kaushan Script', cursive;
}
.texto{
  width: 90%;
  margin: auto;
  margin-top: 10px;  
  font-size: 1em;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  color: black;
}


.containervid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
.containervid iframe {
  display: inline-flex;
  justify-content: center;
  margin: 10px 5px;
  width: 30%;
  border: 4px solid #ffc34a; 
}
.copa{
  margin: 40px auto;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}
.copa img{
  transition: .2s ease all;
  cursor: pointer;
}
  
.copa img:hover{
  border: #ffc34a;
  filter: brightness(200%);
}
footer {
  background-image: url(/images/very\ peri.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: vw;
  color: white;
}
.containersm {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
}
.volverArriba{
  background-color: gray;
  cursor: pointer;
  padding: 2px;
}
/* INICIO STYLE "MESSI" */
/* **************************************************************************** */

.encabezado3 {
  height: 300px;
  background-image: url(/images/very\ peri.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.titulomessi{
  font-size: 40px;
  font-family: 'Luckiest Guy', cursive;
  color: white;
  font-size: 40px;
  text-align: center;
}
.audio audio{
  border: 1px solid white; 
}
/* INICIO STYLE "LOS26" */
/* **************************************************************************** */

.jersey {
  color: #ffc34a;
  font-family: 'Dosis', sans-serif;
  font-size: 50px;
  text-align: center;
}
/* EFECTO TARJETAS */
.DiMariaCard, .AlvarezCard, .LautaroCard, .MessiCard, .DybalaCard, .ACorreaCard {
  transition: .2s ease all;
  cursor: pointer;
}
.DiMariaCard:hover, .AlvarezCard:hover, .LautaroCard:hover, .MessiCard:hover, .DybalaCard:hover, .ACorreaCard:hover {
  border: #ffc34a;
  filter: brightness(140%);
}
/* ETIQUETA DELANTEROS */
.Delanteros {
  display: flex;
  color: black;
  justify-content: center;
  background-color: #ffc34a;
  margin: 0 500px 0 500px;
  border-radius: 0 70px 0 70px;
  height: 100px;
}
.Delanteros p{
  font-size: 60px;
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 25px 0 0 0;
}
/*CONTAINER DELANTEROS TITULARES*/
.containerDelanterostitu{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.DiMariaCard, .AlvarezCard, .LautaroCard , .MessiCard {
  display: inline-block;
  margin: 2px 2px;
  padding: 20px;
  border: 2px solid gold;
  background-image: url(/images/very\ peri.jpg);
  border-radius: 20px;
}
.DiMariaCard p, .AlvarezCard p, .LautaroCard p, .MessiCard p{
  margin: 0px;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  background-color: aliceblue;
  opacity: .8;
  border-radius: 10px;
  padding: 3px;
}
.DiMariaCard img, .AlvarezCard img, .LautaroCard img, .MessiCard img{
  display: flex;
  margin: auto;
  border: 2px solid #ffc34a;
  border-radius: 20px;
}
/*CONTAINER DELANTEROS SUPLENTES*/
.containerDelanterossuple{
  display: flex;
  justify-content: center;
}
.DybalaCard, .ACorreaCard {
  display: inline-block;
  margin: 10px 5px; 
  padding: 20px;
  border: 2px solid gold;
  background-image: url(/images/very\ peri.jpg);
  border-radius: 20px;
}
.DybalaCard p, .ACorreaCard p{
  margin: 0px;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  background-color: aliceblue;
  opacity: .8;
  border-radius: 10px;
  padding: 3px;
}
.DybalaCard img, .ACorreaCard img{
  display: flex;
  margin: auto;
  border: 2px solid #ffc34a;
  border-radius: 20px;
}
/* ETIQUETA MEDOOCAMPO */
.mediocampo {
  display: flex;
  color: black;
  justify-content: center;
  background-color: #ffc34a;
  margin: 0 500px 0 500px;
  border-radius: 0 70px 0 70px;
  height: 100px;
}
.mediocampo p{
  font-size: 60px;
  font-family: 'Luckiest Guy', cursive;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 25px 0 0 0;}


