@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cinzel+Decorative:wght@700&family=Dosis:wght@200;300&family=Kaushan+Script&family=Luckiest+Guy&family=Mynerve&family=Pacifico&family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
}

/* COMIENZO HEADER */
header .btncampeones {
  font-size: 1.5em;
  font-family: "Kaushan Script", cursive;
  background-color: #ffc34a;
  color: black;
  justify-content: center;
  display: flex;
}
header .container-fluid {
  background-image: url(../images/veryperi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: white;
  /* CONTAINER-FLUID "EL CAMINO"*/
}
header .container-fluid .scaloneta {
  justify-content: center;
  max-width: 100%;
  height: auto;
  padding: 30px 0 0 0;
  filter: drop-shadow(10px 10px 7px black);
}
header .container-fluid .encabezado1 p {
  font-size: 3em;
  font-family: "Luckiest Guy", cursive;
  filter: drop-shadow(1px 1px 4px black);
}
header .container-fluid h1 {
  width: 22em;
  display: inline-flex;
  justify-content: center;
  font-size: 1.5em;
  font-family: "Anton", sans-serif;
  background-color: #ffc34a;
  color: black;
  border-radius: 0 4.5em 0 4.5em;
  margin-bottom: 1em;
}
header .nav-item a {
  font-size: 1.3em;
  color: white;
  font-family: "Anton", sans-serif;
}
header .nav-item:hover {
  background-color: skyblue;
  filter: brightness(150%);
  transition: 1.5s;
}
header .nav-item:hover a {
  color: black;
}

/* FIN HEADER */
/* COMIENZO BODY */
body {
  background: linear-gradient(180deg, rgb(199, 232, 225) 20%, rgb(34, 162, 156) 76%);
  /* COMIENZO CONTAINER1ROW */
  /* FIN CONTAINER1ROW */
  /* COMIENZO DECLARACIONES */
  /* FIN DECLARACIONES */
  /* COMIENZO CONTAINER2ROW */
  /* FIN CONTAINER2ROW */
  /* COMIENZO CONTAINER3ROW */
  /* FIN CONTAINER3ROW */
  /* COMIENZO CONTAINER4ROW */
  /* FIN CONTAINER4ROW */
  /* COMIENZO CONTAINER5ROW */
  /* FIN CONTAINER5ROW */
  /* COMIENZO CONTAINER6ROW */
  /* FIN CONTAINER6ROW */
  /* COMIENZO CONTAINER7ROW */
  /* FIN CONTAINER7ROW */
  /* COMIENZO CONTAINER8ROW */
  /* FIN CONTAINER8ROW */
  /* COMIENZO CONTAINER9ROW */
  /* FIN CONTAINER9ROW */
}
body .navbar-brand img {
  filter: drop-shadow(1px 1px 4px #6667AB);
}
body .container1row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container1row .row {
  border: 2px solid #6667AB;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
body .container1row .row .col-4 {
  flex-direction: row;
  justify-content: center;
  display: flex;
  text-align: left;
}
body .container1row .row .col-4 p {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
  text-align: center;
}
body .container1row .row .col-4 p b {
  font-family: "Anton", sans-serif;
  background-color: #ffc34a;
}
body .container1row .row .col-4 img {
  border-radius: 1em 1em 1em 1em;
  width: auto;
  filter: drop-shadow(2px 2px 5px black);
  border: 2px solid #ffc34a;
}
body .declaracion {
  font-size: 1.5em;
  font-family: "Kaushan Script", cursive;
  justify-content: center;
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background: linear-gradient(90deg, rgb(224, 244, 21) 20%, rgb(127, 245, 109) 56%);
  width: 90vw;
  border-radius: 0 4.3em 0 4.3em;
}
body .decla {
  font-size: 1.5em;
  font-family: "Kaushan Script", cursive;
  justify-content: center;
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background: linear-gradient(90deg, rgb(216, 246, 218) 1%, rgba(74, 255, 116, 0.5438376034) 61%);
  width: 80vw;
}
body .container2row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container2row .row {
  border: 2px solid #6667AB;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
body .container2row .row .col-4 {
  display: flex;
  text-align: left;
}
body .container2row .row .col-4 p {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
  text-align: left;
}
body .container2row .row .col-4 p b {
  font-family: "Anton", sans-serif;
  background-color: #ffc34a;
}
body .container2row .row .col-4 img {
  border-radius: 1em 1em 1em 1em;
  width: auto;
  filter: drop-shadow(2px 2px 5px black);
  border: 2px solid #ffc34a;
}
body .container3row {
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  flex-direction: row;
}
body .container3row .row {
  border: 2px solid #6667AB;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
body .container3row .row .col-4 {
  display: flex;
  text-align: left;
}
body .container3row .row .col-4 p {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
  text-align: left;
}
body .container3row .row .col-4 p b {
  font-family: "Anton", sans-serif;
  background-color: #ffc34a;
}
body .container3row .row .col-4 img {
  border-radius: 1em 1em 1em 1em;
  width: auto;
  filter: drop-shadow(2px 2px 5px black);
  border: 2px solid #ffc34a;
}
body .container4row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container4row .row {
  border: 2px solid #6667AB;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
body .container4row .row .col-4 {
  display: flex;
  text-align: left;
}
body .container4row .row .col-4 p {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
  text-align: left;
}
body .container4row .row .col-4 p b {
  font-family: "Anton", sans-serif;
  background-color: #ffc34a;
}
body .container4row .row .col-4 img {
  border-radius: 1em 1em 1em 1em;
  width: auto;
  filter: drop-shadow(2px 2px 5px black);
  border: 2px solid #ffc34a;
  align-items: center;
}
body .container5row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container5row .row {
  border: 2px solid #6667AB;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  flex-direction: row;
}
body .container5row .row .col-4 {
  display: flex;
  text-align: left;
}
body .container5row .row .col-4 p {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
  text-align: left;
}
body .container5row .row .col-4 p b {
  font-family: "Anton", sans-serif;
  background-color: #ffc34a;
}
body .container5row .row .col-4 img {
  border-radius: 1em 1em 1em 1em;
  width: auto;
  filter: drop-shadow(2px 2px 5px black);
  border: 2px solid #ffc34a;
  align-items: center;
}
body .container6row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container6row .row {
  border: 2px solid #6667AB;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  flex-direction: row;
}
body .container6row .row .col-4 {
  display: flex;
  text-align: left;
}
body .container6row .row .col-4 p {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
  text-align: left;
}
body .container6row .row .col-4 p b {
  font-family: "Anton", sans-serif;
  background-color: #ffc34a;
}
body .container6row .row .col-4 img {
  border-radius: 1em 1em 1em 1em;
  width: auto;
  filter: drop-shadow(2px 2px 5px black);
  border: 2px solid #ffc34a;
  align-items: center;
}
body .container7row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container7row .row {
  border: 2px solid #6667AB;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  flex-direction: row;
}
body .container7row .row .col-4 {
  display: flex;
  text-align: left;
}
body .container7row .row .col-4 p {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
  text-align: left;
}
body .container7row .row .col-4 p b {
  font-family: "Anton", sans-serif;
  background-color: #ffc34a;
}
body .container7row .row .col-4 img {
  border-radius: 1em 1em 1em 1em;
  width: auto;
  filter: drop-shadow(2px 2px 5px black);
  border: 2px solid #ffc34a;
  align-items: center;
}
body .container8row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container8row .row {
  border: 2px solid #6667AB;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  flex-direction: row;
}
body .container8row .row .col-4 {
  display: flex;
  text-align: left;
}
body .container8row .row .col-4 p {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
  text-align: center;
}
body .container8row .row .col-4 p b {
  font-family: "Anton", sans-serif;
  background-color: #ffc34a;
}
body .container8row .row .col-4 img {
  border-radius: 1em 1em 1em 1em;
  width: auto;
  filter: drop-shadow(2px 2px 5px black);
  border: 2px solid #ffc34a;
  align-items: center;
}
body .container9row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container9row .row {
  border: 2px solid #6667AB;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  flex-direction: row;
}
body .container9row .row .col-4 {
  display: flex;
  text-align: left;
}
body .container9row .row .col-4 p {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
  text-align: center;
}
body .container9row .row .col-4 p b {
  font-family: "Anton", sans-serif;
  background-color: #ffc34a;
}
body .container9row .row .col-4 img {
  border-radius: 1em 1em 1em 1em;
  width: auto;
  filter: drop-shadow(2px 2px 5px black);
  border: 2px solid #ffc34a;
  align-items: center;
}
body .nav-item2 a:hover {
  background-color: #7FF56D;
  transition: 1s;
}
body .capitulo {
  background-color: rgb(34, 162, 156);
  font-size: 1.5em;
  font-family: "Dosis", sans-serif;
  margin-top: 30px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  color: black;
}
body .nombrecapitulo {
  font-family: "Anton", sans-serif;
  font-size: 1.3em;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: black;
}
body .resultado {
  font-family: "Kaushan Script", cursive;
  font-size: 1.3em;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  margin: auto;
  background-color: #7FF56D;
  width: 350px;
}
body .texto {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  color: black;
}
body .containervid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}
body .containervid iframe {
  display: inline-flex;
  justify-content: center;
  margin: 10px 5px;
  width: 32%;
  border: 2px solid #ffc34a;
}
body .palmares {
  display: flex;
  justify-content: space-between;
}
body .palmares .copa {
  width: 33%;
  text-align: center;
  filter: drop-shadow(4px 4px 7px black);
}
body .palmares .copa p {
  font-family: "Anton", sans-serif;
  color: #ffc34a;
}

/* FIN BODY */
/* COMIENZO FOOTER */
footer {
  background-color: rgb(34, 162, 156);
  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer .socialmedia P {
  font-family: "Anton", sans-serif;
  font-size: "Anton", sans-serif;
  color: black;
}
footer .socialmedia P a img {
  cursor: pointer;
}

/* FIN FOOTER */
@media only screen and (max-width: 767px) {
  header .btncampeones {
    font-size: 0.8em;
    font-family: "Kaushan Script", cursive;
  }
  header .nav-item a {
    font-size: 0.8em;
    color: white;
    font-family: "Anton", sans-serif;
  }
  header .container-fluid .encabezado1 p {
    font-size: 1.5em;
    font-family: "Luckiest Guy", cursive;
  }
  header .container-fluid h1 {
    font-size: 0.8em;
    font-family: "Anton", sans-serif;
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 767px) {
  body .container1row .row {
    flex-direction: column;
  }
  body .container1row .row .col-4 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container1row .row .col-4 p {
    margin-top: 1em;
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container1row .row .col-4 img {
    display: inline-flex;
    justify-content: center;
    margin: 5px 3px;
    width: 90%;
    border: 1px solid #ffc34a;
  }
  body .container1row .row .col-3 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container1row .row .col-3 p {
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container1row .row .col-9 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
  body .declaracion {
    font-family: "Kaushan Script", cursive;
    font-size: 0.8em;
  }
  body .decla {
    font-family: "Kaushan Script", cursive;
    font-size: 0.8em;
  }
  body .resultado {
    font-family: "Kaushan Script", cursive;
    font-size: 1.1em;
  }
  body .container2row .row {
    flex-direction: column;
  }
  body .container2row .row .col-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container2row .row .col-4 p {
    margin-top: 1em;
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container2row .row .col-4 img {
    display: inline-flex;
    justify-content: center;
    margin: 5px 3px;
    width: 90%;
    border: 1px solid #ffc34a;
  }
  body .container2row .row .col-3 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container2row .row .col-3 p {
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container2row .row .col-9 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
  body .container3row .row {
    flex-direction: column;
  }
  body .container3row .row .col-4 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container3row .row .col-4 p {
    margin-top: 1em;
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container3row .row .col-4 img {
    display: inline-flex;
    justify-content: center;
    margin: 5px 3px;
    width: 90%;
    border: 1px solid #ffc34a;
  }
  body .container3row .row .col-3 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container3row .row .col-3 p {
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container3row .row .col-9 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
  body .container4row .row {
    flex-direction: column;
  }
  body .container4row .row .col-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container4row .row .col-4 p {
    margin-top: 1em;
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container4row .row .col-4 img {
    display: inline-flex;
    justify-content: center;
    margin: 5px 3px;
    width: 90%;
    border: 1px solid #ffc34a;
  }
  body .container4row .row .col-8 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
  body .container5row .row {
    flex-direction: column;
  }
  body .container5row .row .col-3 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container5row .row .col-3 p {
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container5row .row .col-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container5row .row .col-4 p {
    margin-top: 1em;
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container5row .row .col-4 img {
    display: inline-flex;
    justify-content: center;
    margin: 5px 3px;
    width: 90%;
    border: 1px solid #ffc34a;
  }
  body .container6row .row {
    flex-direction: column;
  }
  body .container6row .row .col-3 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container6row .row .col-3 p {
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container6row .row .col-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container6row .row .col-4 p {
    margin-top: 1em;
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container6row .row .col-4 img {
    display: inline-flex;
    justify-content: center;
    margin: 5px 3px;
    width: 90%;
    border: 1px solid #ffc34a;
  }
  body .container7row .row {
    flex-direction: column;
  }
  body .container7row .row .col-3 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container7row .row .col-3 p {
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container7row .row .col-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container7row .row .col-4 p {
    margin-top: 1em;
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container7row .row .col-4 img {
    display: inline-flex;
    justify-content: center;
    margin: 5px 3px;
    width: 90%;
    border: 1px solid #ffc34a;
  }
  body .container8row .row {
    flex-direction: column;
  }
  body .container8row .row .col-3 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container8row .row .col-3 p {
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container8row .row .col-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container8row .row .col-4 p {
    margin-top: 1em;
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container8row .row .col-4 img {
    display: inline-flex;
    justify-content: center;
    margin: 5px 3px;
    width: 90%;
    border: 1px solid #ffc34a;
  }
  body .container9row .row {
    flex-direction: column;
  }
  body .container9row .row .col-3 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container9row .row .col-3 p {
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container9row .row .col-4 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container9row .row .col-4 p {
    margin-top: 1em;
    text-align: center;
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .container9row .row .col-4 img {
    display: inline-flex;
    justify-content: center;
    margin: 5px 3px;
    width: 90%;
    border: 1px solid #ffc34a;
  }
  body .containervid {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  body .containervid iframe {
    display: inline-flex;
    justify-content: center;
    margin: 5px 3px;
    width: 90%;
    border: 1px solid #ffc34a;
  }
  body .palmares {
    flex-direction: column;
  }
  body .palmares .copa {
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    text-align: row;
  }
  body .palmares .copa p {
    font-family: "Anton", sans-serif;
    font-size: 0.8em;
    color: #ffc34a;
  }
  body .texto {
    font-size: 0.8em;
    font-family: 0.8em;
  }
  body .palmares {
    flex-direction: row;
    justify-content: right;
  }
  body .palmares .copa {
    flex-direction: row;
    justify-content: left;
    margin-right: 10px;
    filter: drop-shadow(4px 4px 7px black);
  }
  body .palmares .copa .tamaño {
    width: 100%;
    height: 80%;
  }
  body .palmares .copa p {
    font-family: "Anton", sans-serif;
    color: #ffc34a;
  }
}

@media only screen and (max-width: 767px) {
  footer .socialmedia {
    flex-direction: column;
    justify-content: center;
  }
  footer .socialmedia p {
    flex-direction: column;
    justify-content: center;
    font-size: 0.8em;
  }
  footer .socialmedia p a {
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  header .btncampeones {
    font-size: 1.1em;
    font-family: "Kaushan Script", cursive;
  }
  header .nav-item a {
    font-size: 1.1em;
    color: white;
    font-family: "Anton", sans-serif;
  }
  header .container-fluid .encabezado1 p {
    font-size: 2em;
    font-family: "Luckiest Guy", cursive;
  }
  header .container-fluid .encabezado1btn {
    font-size: 1.3em;
    font-family: "Anton", sans-serif;
    margin-bottom: 2em;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  body .container1row .row {
    flex-direction: column;
  }
  body .container1row .row .col-4 {
    justify-content: center;
    align-items: center;
    width: 1150px;
    margin: 5px;
  }
  body .container1row .row .col-4 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 0.8em;
  }
  body .declaracion {
    font-family: "Kaushan Script", cursive;
    font-size: 1.1em;
  }
  body .container2row .row {
    flex-direction: column;
  }
  body .container2row .row .col-4 {
    justify-content: center;
    align-items: center;
    width: 1150px;
    margin: 5px;
  }
  body .container2row .row .col-4 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 0.8em;
  }
  body .container3row .row {
    flex-direction: column;
  }
  body .container3row .row .col-4 {
    justify-content: center;
    align-items: center;
    width: 1150px;
    margin: 5px;
  }
  body .container3row .row .col-4 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 0.8em;
  }
  body .container4row .row {
    flex-direction: column;
  }
  body .container4row .row .col-4 {
    justify-content: center;
    align-items: center;
    width: 1150px;
    margin: 5px;
  }
  body .container4row .row .col-4 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 0.8em;
  }
  body .container5row .row {
    flex-direction: column;
  }
  body .container5row .row .col-4 {
    justify-content: center;
    align-items: center;
    width: 1150px;
    margin: 5px;
  }
  body .container5row .row .col-4 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 0.8em;
  }
  body .container6row .row {
    flex-direction: column;
  }
  body .container6row .row .col-4 {
    justify-content: center;
    align-items: center;
    width: 1150px;
    margin: 5px;
  }
  body .container6row .row .col-4 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 0.8em;
  }
  body .container7row .row {
    flex-direction: column;
  }
  body .container7row .row .col-4 {
    justify-content: center;
    align-items: center;
    width: 1150px;
    margin: 5px;
  }
  body .container7row .row .col-4 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 0.8em;
  }
  body .container8row .row {
    flex-direction: column;
  }
  body .container8row .row .col-4 {
    justify-content: center;
    align-items: center;
    width: 1150px;
    margin: 5px;
  }
  body .container8row .row .col-4 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 0.8em;
  }
  body .container9row .row {
    flex-direction: column;
  }
  body .container9row .row .col-4 {
    display: flex;
    align-items: center;
    width: 1150px;
    margin: 5px;
  }
  body .container9row .row .col-4 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 0.8em;
  }
  body .containervid {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }
  body .containervid iframe {
    display: inline-flex;
    justify-content: center;
    margin: 5px 3px;
    width: 90%;
    border: 1px solid #ffc34a;
  }
}/*# sourceMappingURL=style.css.map */