@import 'utilities/fonts';
@import 'utilities/variables';



* {
    margin: 0;
    padding: 0;
}


header {
    .btncampeones {
        font-size: $fontsizeinterm;
        font-family: $fontcursiva;
        background-color: #ffc34a;
        color: black;
        justify-content: center;
        display: flex;
    }

    .container-fluid {
        background-image: url(../images/veryperi.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        text-align: center;
        color: white;

        .scaloneta {
            justify-content: center;
            max-width: 100%;
            height: auto;
            padding: 30px 0 0 0;

        }

        /* CONTAINER-FLUID "EL CAMINO"*/
        .encabezado1 {
            p{
            font-size: $fontsizebig;
            font-family: $fontscaloneta;
        }        
                }
                .encabezado1btn {
                    width: 22em;
                    display: inline-flex;
                    justify-content: center;
                    font-size: $fontsizeinterm;
                    font-family: $fontnavbar;
                    background-color: #ffc34a;
                    color: black;
                    border-radius: 0 4.5em 0 4.5em;
                    margin-bottom: 1em;
        }
    }

    .nav-item {
        a {
            font-size: $fontsizenormal;
            color: white;
            font-family: $fontnavbar;
        }

        &:hover {
            background-color: skyblue;
            filter: brightness(150%);
            transition: 1.5s;

            a {
                color: black;
            }
        }
    }
}

body {
    background: linear-gradient(180deg, rgba(199, 232, 225, 1) 20%, rgba(34, 162, 156, 1) 76%);

    .container1row {
        margin-top: .5em;
        justify-content: center;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;

        .row {
            border: 2px solid #ffc34a;
            margin: 2px 2px 2px 3px;
            padding-top: 0.6em;
            padding-bottom: 0.6em;



            .col-9 {
                display: flex;
                align-items: right;
                justify-content: right;

                img {
                    border-radius: $borderfotosder;
                    max-width: 100%;
                        width: auto;

                }

            }

            .col-3 {
                display: flex;
                text-align: left;



                p {
                    font-size: $fontsizenormal;
                    font-family: $fontparrafo;

                }

            }
        }

    }

    .declaracion {
        font-size: $fontsizeinterm;
        justify-content: center;
        display: flex;
        text-align: center;
        margin: auto;
        margin-top: .5em;
        margin-bottom: .5em;
        background: linear-gradient(90deg, rgba(224, 244, 21, 1) 20%, rgba(127, 245, 109, 1) 56%);
        width: 90vw;
        font-family: $fontcursiva;
        border-radius: 0 4.3em 0 4.3em;
    }

    .container2row {
        margin-top: .5em;
        justify-content: center;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;

        .row {
            border: 2px solid #ffc34a;
            margin: 2px 2px 2px 3px;
            padding-top: 0.6em;
            padding-bottom: 0.6em;

            .col-9 {
                display: flex;
                align-items: left;

                img {
                    border-radius: $borderfotosizq;
                    max-width: 100%;
                        width: auto;
                }

            }

            .col-3 {
                display: flex;
                text-align: right;

                p {
                    font-size: $fontsizenormal;
                    font-family: $fontparrafo;
                }

            }
        }

    }

    .container3row {
        margin-top: .5em;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;
        flex-direction: row;

        .row {
            border: 2px solid #ffc34a;
            margin: 2px 2px 2px 3px;
            padding-top: 0.6em;
            padding-bottom: 0.6em;

            .col-3 {
                display: flex;
                text-align: left;

                p {
                    font-size: $fontsizenormal;
                    font-family: $fontparrafo;
                }

            }

            .col-9 {
                display: flex;
                align-items: right;
                justify-content: right;

                img {
                    border-radius: $borderfotosder;
                    max-width: 100%;
                        width: auto;

                }


            }

        }

    }

    .container4row {
        margin-top: .5em;
        justify-content: center;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;

        .row {
            border: 2px solid #ffc34a;
            margin: 2px 2px 2px 3px;
            padding-top: 0.6em;
            padding-bottom: 0.6em;

            .col-8 {
                display: flex;
                align-items: left;

                img {
                    border-radius: $borderfotosizq;
                    max-width: 100%;
                        width: auto;
                }

            }

            .col-4 {
                display: flex;
                text-align: right;

                p {
                    font-size: $fontsizenormal;
                    font-family: $fontparrafo;
                }

            }
        }









    }

    .container5row {
        margin-top: .5em;
        justify-content: center;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;

        .row {
            border: 2px solid #ffc34a;
            margin: 2px 2px 2px 3px;
            padding-top: 0.6em;
            padding-bottom: 0.6em;
            flex-direction: row;
            .col-3 {
                display: flex;
                text-align: left;
                p {
                    font-size: $fontsizenormal;
                    font-family: $fontparrafo;
                }
            }
            .col-9 {
                display: flex;
                align-items: right;
                justify-content: right;
                img {
                    border-radius: $borderfotosder;
                    justify-content: right;
                }
            }
        }
    }
/* BODY "EL CAMINO"*/

.nav-item2{
    a{
    &:hover{
    background-color: #7FF56D;
    transition: 1s;
}
}
  }

.capitulo {
    background-color: rgba(34, 162, 156, 1);
  font-size: $fontsizeinterm;
  font-family: $fontparrafo;
  margin-top: 30px;  
  font-weight: bold;
  justify-content: center;
  text-align: center;
  color: black;
}
.nombrecapitulo{
    font-family: $fontnavbar;
    font-size: $fontsizenormal;
    justify-content: center;
    text-align: center;
    margin: auto;
    color: black;
  }
  .resultado {
    font-family: $fontcursiva;
    font-size: $fontsizenormal;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    margin: auto;
    background-color: #7FF56D;
    width: 350px;
  }
//   .resultado1 {
//     font-family: $fontcursiva;
//     font-size: $fontsizenormal;
//     font-weight: bold;
//     justify-content: center;
//     text-align: center;
//     margin: auto;
//     background: linear-gradient(90deg, rgba(224, 244, 21, 1) 20%, rgba(127, 245, 109, 1) 56%);
//     width: 350px;
//   }
  .texto{
    font-size: $fontsizenormal;
    font-family: $fontparrafo;
    width: 90%;
    margin: auto;
    margin-top: 10px;  
    text-align: center;
    color: black;
  }

  .containervid {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;

    iframe {
        display: inline-flex;
        justify-content: center;
        margin: 10px 5px;
        width: 32%;
        border: 2px solid #ffc34a; 
      }
  }
// .palmares{
//     flex-direction: row;
//     justify-content: center;
//     align-items: center;
//     width: 90%;
//   .copa {
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     display: flex;
//   }
// }

.palmares {

    display: flex;
    justify-content: space-between;
    border: 2px solid #ffc34a;
    .copa {
        
        width: 33%;
        text-align: center;
        p{
            font-family: $fontnavbar;
            color: #ffc34a;
        }
      }
  }
  
  
  

  






}
footer {
    background-color: rgba(34, 162, 156, 1);
    display: flex;
    justify-content: center;
    flex-direction: row;

    .socialmedia {
        a {

        img {
            cursor: pointer;

        }
    }
    }
}

@import 'utilities/conditionals';
@import 'utilities/conditionalstablet';