@import url('https://fonts.googleapis.com/css2?family=Anton&family=Cinzel+Decorative:wght@700&family=Dosis:wght@200;300&family=Kaushan+Script&family=Luckiest+Guy&family=Mynerve&family=Pacifico&family=Shadows+Into+Light&display=swap');

$fontsizenormal: 1.5vw;
$fontsizebig: 5vw;
$fontparrafo: 'Dosis', sans-serif;
$fontcursiva: 'Kaushan Script', cursive;
$fontscaloneta: 'Luckiest Guy', cursive;

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: antiquewhite;

    .btncampeones {
        font-size: 2vw;
        font-family: $fontcursiva;
        background-color: #ffc34a;
        color: black;
        justify-content: center;
        display: flex;
    }
    .container-fluid {
        background-image: url(../images/veryperi.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        text-align: center;
        color: white;

        .scaloneta {
            justify-content: center;
            max-width: 100%;
            height: auto;
            padding: 30px 0 0 0;
        }
    }

    .nav-item {
        a {
            font-size: 1.5vw;
            color: white;
            font-family: 'Anton', sans-serif;
        }

        &:hover {
            background-color: skyblue;
            filter: brightness(150%);
            color: black;
        }
    }
}

main {
    background-color: antiquewhite;

    .container1row {
        margin-top: .5em;
        justify-content: center;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;
        .row{
        .col-12 {
            display: flex;
            justify-content: center;
            p {
                text-align: center;
                display: flex;
                justify-content: center;
                font-size: 1.5vw;
                font-family: $fontcursiva;
            }
        }
        

    }
}

.declaracion {
    font-size: 1.5vw;
    font-weight: bold;
    justify-content: center;
    display: flex;
    text-align: center;
    margin: auto;
    margin-top: .5em;
    margin-bottom: .5em;
    background-color: #7FF56D;
    width: 45vw;
    font-family: 'Kaushan Script', cursive;
  }













}
