@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cinzel+Decorative:wght@700&family=Dosis:wght@200;300&family=Kaushan+Script&family=Luckiest+Guy&family=Mynerve&family=Pacifico&family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
}

header .btncampeones {
  font-size: 1.5em;
  font-family: "Kaushan Script", cursive;
  background-color: #ffc34a;
  color: black;
  justify-content: center;
  display: flex;
}
header .container-fluid {
  background-image: url(../images/veryperi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: white;
  /* CONTAINER-FLUID "EL CAMINO"*/
}
header .container-fluid .scaloneta {
  justify-content: center;
  max-width: 100%;
  height: auto;
  padding: 30px 0 0 0;
}
header .container-fluid .encabezado1 p {
  font-size: 3em;
  font-family: "Luckiest Guy", cursive;
}
header .container-fluid .encabezado1btn {
  width: 22em;
  display: inline-flex;
  justify-content: center;
  font-size: 1.5em;
  font-family: "Anton", sans-serif;
  background-color: #ffc34a;
  color: black;
  border-radius: 0 4.5em 0 4.5em;
  margin-bottom: 1em;
}
header .nav-item a {
  font-size: 1.4em;
  color: white;
  font-family: "Anton", sans-serif;
}
header .nav-item:hover {
  background-color: skyblue;
  filter: brightness(150%);
  transition: 1.5s;
}
header .nav-item:hover a {
  color: black;
}

body {
  background: linear-gradient(180deg, rgb(199, 232, 225) 20%, rgb(34, 162, 156) 76%);
  /* BODY "EL CAMINO"*/
}
body .container1row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container1row .row {
  border: 2px solid #ffc34a;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
body .container1row .row .col-9 {
  display: flex;
  align-items: right;
  justify-content: right;
}
body .container1row .row .col-9 img {
  border-radius: 0 4em 0 4em;
  max-width: 100%;
  width: auto;
}
body .container1row .row .col-3 {
  display: flex;
  text-align: left;
}
body .container1row .row .col-3 p {
  font-size: 1.4em;
  font-family: "Dosis", sans-serif;
}
body .declaracion {
  font-size: 1.5em;
  justify-content: center;
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background: linear-gradient(90deg, rgb(224, 244, 21) 20%, rgb(127, 245, 109) 56%);
  width: 90vw;
  font-family: "Kaushan Script", cursive;
  border-radius: 0 4.3em 0 4.3em;
}
body .container2row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container2row .row {
  border: 2px solid #ffc34a;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
body .container2row .row .col-9 {
  display: flex;
  align-items: left;
}
body .container2row .row .col-9 img {
  border-radius: 4em 0 4em 0;
  max-width: 100%;
  width: auto;
}
body .container2row .row .col-3 {
  display: flex;
  text-align: right;
}
body .container2row .row .col-3 p {
  font-size: 1.4em;
  font-family: "Dosis", sans-serif;
}
body .container3row {
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  flex-direction: row;
}
body .container3row .row {
  border: 2px solid #ffc34a;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
body .container3row .row .col-3 {
  display: flex;
  text-align: left;
}
body .container3row .row .col-3 p {
  font-size: 1.4em;
  font-family: "Dosis", sans-serif;
}
body .container3row .row .col-9 {
  display: flex;
  align-items: right;
  justify-content: right;
}
body .container3row .row .col-9 img {
  border-radius: 0 4em 0 4em;
  max-width: 100%;
  width: auto;
}
body .container4row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container4row .row {
  border: 2px solid #ffc34a;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
body .container4row .row .col-8 {
  display: flex;
  align-items: left;
}
body .container4row .row .col-8 img {
  border-radius: 4em 0 4em 0;
  max-width: 100%;
  width: auto;
}
body .container4row .row .col-4 {
  display: flex;
  text-align: right;
}
body .container4row .row .col-4 p {
  font-size: 1.4em;
  font-family: "Dosis", sans-serif;
}
body .container5row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container5row .row {
  border: 2px solid #ffc34a;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  flex-direction: row;
}
body .container5row .row .col-3 {
  display: flex;
  text-align: left;
}
body .container5row .row .col-3 p {
  font-size: 1.4em;
  font-family: "Dosis", sans-serif;
}
body .container5row .row .col-9 {
  display: flex;
  align-items: right;
  justify-content: right;
}
body .container5row .row .col-9 img {
  border-radius: 0 4em 0 4em;
  justify-content: right;
}
body .capitulo {
  font-size: 1.5em;
  font-family: "Dosis", sans-serif;
  margin-top: 30px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  color: black;
}
body .nombrecapitulo {
  font-family: "Anton", sans-serif;
  font-size: 1.4em;
  justify-content: center;
  text-align: center;
  margin: auto;
  color: black;
}
body .resultado {
  font-family: "Kaushan Script", cursive;
  font-size: 1.4em;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  margin: auto;
  background-color: #7FF56D;
  width: 350px;
}
body .texto {
  font-size: 1.4em;
  font-family: "Dosis", sans-serif;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
  color: black;
}

footer {
  background-color: rgb(34, 162, 156);
  display: flex;
  justify-content: center;
  flex-direction: row;
}
footer .socialmedia a img {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  header .btncampeones {
    font-size: 0.7em;
    font-family: "Kaushan Script", cursive;
  }
  header .nav-item a {
    font-size: 0.7em;
    color: white;
    font-family: "Anton", sans-serif;
  }
  header .container-fluid .encabezado1 p {
    font-size: 1.5em;
    font-family: "Luckiest Guy", cursive;
  }
  header .container-fluid .encabezado1btn {
    font-size: 0.7em;
    font-family: "Anton", sans-serif;
    margin-bottom: 2em;
  }
}

@media only screen and (max-width: 767px) {
  body .container1row .row {
    flex-direction: column-reverse;
  }
  body .container1row .row .col-3 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container1row .row .col-3 p {
    text-align: center;
    font-size: 0.7em;
    font-family: 0.7em;
  }
  body .container1row .row .col-9 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
  body .declaracion {
    font-family: "Kaushan Script", cursive;
    font-size: 0.7em;
  }
  body .container2row .row {
    flex-direction: column-reverse;
  }
  body .container2row .row .col-3 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container2row .row .col-3 p {
    text-align: center;
    font-size: 0.7em;
    font-family: 0.7em;
  }
  body .container2row .row .col-9 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
  body .container3row .row {
    flex-direction: column-reverse;
  }
  body .container3row .row .col-3 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container3row .row .col-3 p {
    text-align: center;
    font-size: 0.7em;
    font-family: 0.7em;
  }
  body .container3row .row .col-9 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
  body .container4row .row {
    flex-direction: column-reverse;
  }
  body .container4row .row .col-4 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container4row .row .col-4 p {
    text-align: center;
    font-size: 0.7em;
    font-family: 0.7em;
  }
  body .container4row .row .col-8 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
  body .container5row .row {
    flex-direction: column-reverse;
  }
  body .container5row .row .col-3 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container5row .row .col-3 p {
    text-align: center;
    font-size: 0.7em;
    font-family: 0.7em;
  }
  body .container5row .row .col-9 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
}

@media only screen and (max-width: 767px) {
  footer .socialmedia {
    flex-direction: column;
    justify-content: center;
  }
  footer .socialmedia p {
    flex-direction: column;
    justify-content: center;
    font-size: 0.7em;
  }
  footer .socialmedia p a {
    flex-direction: column;
    justify-content: center;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  header .btncampeones {
    font-size: 1.1em;
    font-family: "Kaushan Script", cursive;
  }
  header .nav-item a {
    font-size: 1.1em;
    color: white;
    font-family: "Anton", sans-serif;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  body .container1row .row {
    flex-direction: column-reverse;
  }
  body .container1row .row .col-3 {
    display: flex;
    align-items: center;
    width: 1150px;
    margin: auto;
  }
  body .container1row .row .col-3 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 0.7em;
  }
  body .container1row .row .col-9 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
  body .declaracion {
    font-family: "Kaushan Script", cursive;
    font-size: 1.1em;
  }
  body .container2row .row {
    flex-direction: column-reverse;
  }
  body .container2row .row .col-3 {
    display: flex;
    align-items: center;
    width: 1150px;
    margin: auto;
  }
  body .container2row .row .col-3 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 0.7em;
  }
  body .container2row .row .col-9 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
  body .container3row .row {
    flex-direction: column-reverse;
  }
  body .container3row .row .col-3 {
    display: flex;
    align-items: center;
    width: 1150px;
    margin: auto;
  }
  body .container3row .row .col-3 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 0.7em;
  }
  body .container3row .row .col-9 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
  body .container4row .row {
    flex-direction: column-reverse;
  }
  body .container4row .row .col-4 {
    display: flex;
    align-items: center;
    width: 1150px;
    margin: auto;
  }
  body .container4row .row .col-4 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 0.7em;
  }
  body .container4row .row .col-8 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
  body .container5row .row {
    flex-direction: column-reverse;
  }
  body .container5row .row .col-3 {
    display: flex;
    align-items: center;
    width: 1150px;
    margin: auto;
  }
  body .container5row .row .col-3 p {
    text-align: center;
    font-size: 1.1em;
    font-family: 0.7em;
  }
  body .container5row .row .col-9 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */