@import 'utilities/fonts';
@import 'utilities/variables';

* {
    margin: 0;
    padding: 0;
}

/* COMIENZO HEADER */
header {
    .btncampeones {
        font-size: $fontsizeinterm;
        font-family: $fontcursiva;
        background-color: #ffc34a;
        color: black;
        justify-content: center;
        display: flex;
    }

    .container-fluid {
        background-image: url(../images/veryperi.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        text-align: center;
        color: white;

        .scaloneta {
            justify-content: center;
            max-width: 100%;
            height: auto;
            padding: 30px 0 0 0;
            filter: drop-shadow(10px 10px 7px black);

        }

        /* CONTAINER-FLUID "EL CAMINO"*/
        .encabezado1 {
            p {
                font-size: $fontsizebig;
                font-family: $fontscaloneta;
                filter: drop-shadow(1px 1px 4px black);
            }
        }

        h1 {
            width: 22em;
            display: inline-flex;
            justify-content: center;
            font-size: $fontsizeinterm;
            font-family: $fontnavbar;
            background-color: #ffc34a;
            color: black;
            border-radius: 0 4.5em 0 4.5em;
            margin-bottom: 1em;
        }
    }

    .nav-item {
        a {
            font-size: $fontsizenormal;
            color: white;
            font-family: $fontnavbar;
        }

        &:hover {
            background-color: skyblue;
            filter: brightness(150%);
            transition: 1.5s;

            a {
                color: black;
            }
        }
    }
}

/* FIN HEADER */
/* COMIENZO BODY */
body {
    .navbar-brand {
        img {
            filter: drop-shadow(1px 1px 4px #6667AB);
        }
    }

    background: linear-gradient(180deg, rgba(199, 232, 225, 1) 20%, rgba(34, 162, 156, 1) 76%);

    /* COMIENZO CONTAINER1ROW */
    .container1row {
        margin-top: .5em;
        justify-content: center;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;

        .row {
            border: 2px solid #6667AB;
            margin: 2px 2px 2px 3px;
            padding-top: 0.6em;
            padding-bottom: 0.6em;

            .col-4 {
                flex-direction: row;
                justify-content: center;
                display: flex;
                text-align: left;

                p {
                    font-size: $fontsizenormal;
                    font-family: $fontparrafo;
                    text-align: center;

                    b {
                        font-family: $fontnavbar;
                        background-color: #ffc34a;
                    }

                }

                img {
                    border-radius: $borderfotoscenter;
                    width: auto;
                    filter: drop-shadow(2px 2px 5px black);
                    border: 2px solid #ffc34a;

                }

            }


        }
    }

    /* FIN CONTAINER1ROW */

    /* COMIENZO DECLARACIONES */
    .declaracion {
        font-size: $fontsizeinterm;
        font-family: $fontcursiva;
        justify-content: center;
        display: flex;
        text-align: center;
        margin: auto;
        margin-top: .5em;
        margin-bottom: .5em;
        background: linear-gradient(90deg, rgba(224, 244, 21, 1) 20%, rgba(127, 245, 109, 1) 56%);
        width: 90vw;
        border-radius: 0 4.3em 0 4.3em;
    }

    .decla {
        font-size: $fontsizeinterm;
        font-family: $fontcursiva;
        justify-content: center;
        display: flex;
        text-align: center;
        margin: auto;
        margin-top: .5em;
        margin-bottom: .5em;
        background: linear-gradient(90deg, rgba(216, 246, 218, 1) 1%, rgba(74, 255, 116, 0.5438376034007353) 61%);
        width: 80vw;
    }

    /* FIN DECLARACIONES */

    /* COMIENZO CONTAINER2ROW */
    .container2row {
        margin-top: .5em;
        justify-content: center;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;

        .row {
            border: 2px solid #6667AB;
            margin: 2px 2px 2px 3px;
            padding-top: 0.6em;
            padding-bottom: 0.6em;

            .col-4 {
                display: flex;
                text-align: left;

                p {
                    font-size: $fontsizenormal;
                    font-family: $fontparrafo;
                    text-align: left;

                    b {
                        font-family: $fontnavbar;
                        background-color: #ffc34a;
                    }

                }

                img {
                    border-radius: $borderfotoscenter;
                    width: auto;
                    filter: drop-shadow(2px 2px 5px black);
                    border: 2px solid #ffc34a;

                }

            }

        }

    }

    /* FIN CONTAINER2ROW */

    /* COMIENZO CONTAINER3ROW */
    .container3row {
        margin-top: .5em;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;
        flex-direction: row;

        .row {
            border: 2px solid #6667AB;
            margin: 2px 2px 2px 3px;
            padding-top: 0.6em;
            padding-bottom: 0.6em;

            .col-4 {
                display: flex;
                text-align: left;

                p {
                    font-size: $fontsizenormal;
                    font-family: $fontparrafo;
                    text-align: left;

                    b {
                        font-family: $fontnavbar;
                        background-color: #ffc34a;
                    }

                }

                img {
                    border-radius: $borderfotoscenter;
                    width: auto;
                    filter: drop-shadow(2px 2px 5px black);
                    border: 2px solid #ffc34a;

                }

            }


        }

    }

    /* FIN CONTAINER3ROW */

    /* COMIENZO CONTAINER4ROW */
    .container4row {
        margin-top: .5em;
        justify-content: center;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;

        .row {
            border: 2px solid #6667AB;
            margin: 2px 2px 2px 3px;
            padding-top: 0.6em;
            padding-bottom: 0.6em;


            .col-4 {
                display: flex;
                text-align: left;

                p {
                    font-size: $fontsizenormal;
                    font-family: $fontparrafo;
                    text-align: left;

                    b {
                        font-family: $fontnavbar;
                        background-color: #ffc34a;
                    }

                }

                img {
                    border-radius: $borderfotoscenter;
                    width: auto;
                    filter: drop-shadow(2px 2px 5px black);
                    border: 2px solid #ffc34a;
                    align-items: center;

                }

            }
        }
    }

    /* FIN CONTAINER4ROW */

    /* COMIENZO CONTAINER5ROW */
    .container5row {
        margin-top: .5em;
        justify-content: center;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;

        .row {
            border: 2px solid #6667AB;
            margin: 2px 2px 2px 3px;
            padding-top: 0.6em;
            padding-bottom: 0.6em;
            flex-direction: row;

            .col-4 {
                display: flex;
                text-align: left;

                p {
                    font-size: $fontsizenormal;
                    font-family: $fontparrafo;
                    text-align: left;

                    b {
                        font-family: $fontnavbar;
                        background-color: #ffc34a;
                    }

                }

                img {
                    border-radius: $borderfotoscenter;
                    width: auto;
                    filter: drop-shadow(2px 2px 5px black);
                    border: 2px solid #ffc34a;
                    align-items: center;

                }

            }


        }
    }

    /* FIN CONTAINER5ROW */

    /* COMIENZO CONTAINER6ROW */
    .container6row {
        margin-top: .5em;
        justify-content: center;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;

        .row {
            border: 2px solid #6667AB;
            margin: 2px 2px 2px 3px;
            padding-top: 0.6em;
            padding-bottom: 0.6em;
            flex-direction: row;

            .col-4 {
                display: flex;
                text-align: left;

                p {
                    font-size: $fontsizenormal;
                    font-family: $fontparrafo;
                    text-align: left;

                    b {
                        font-family: $fontnavbar;
                        background-color: #ffc34a;

                    }


                }

                img {
                    border-radius: $borderfotoscenter;
                    width: auto;
                    filter: drop-shadow(2px 2px 5px black);
                    border: 2px solid #ffc34a;
                    align-items: center;

                }

            }
        }
    }

    /* FIN CONTAINER6ROW */

    /* COMIENZO CONTAINER7ROW */
    .container7row {
        margin-top: .5em;
        justify-content: center;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;

        .row {
            border: 2px solid #6667AB;
            margin: 2px 2px 2px 3px;
            padding-top: 0.6em;
            padding-bottom: 0.6em;
            flex-direction: row;

            .col-4 {
                display: flex;
                text-align: left;

                p {
                    font-size: $fontsizenormal;
                    font-family: $fontparrafo;
                    text-align: left;

                    b {
                        font-family: $fontnavbar;
                        background-color: #ffc34a;
                    }

                }

                img {
                    border-radius: $borderfotoscenter;
                    width: auto;
                    filter: drop-shadow(2px 2px 5px black);
                    border: 2px solid #ffc34a;
                    align-items: center;

                }

            }
        }
    }

    /* FIN CONTAINER7ROW */

    /* COMIENZO CONTAINER8ROW */
    .container8row {
        margin-top: .5em;
        justify-content: center;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;

        .row {
            border: 2px solid #6667AB;
            margin: 2px 2px 2px 3px;
            padding-top: 0.6em;
            padding-bottom: 0.6em;
            flex-direction: row;

            .col-4 {
                display: flex;
                text-align: left;

                p {
                    font-size: $fontsizenormal;
                    font-family: $fontparrafo;
                    text-align: center;

                    b {
                        font-family: $fontnavbar;
                        background-color: #ffc34a;
                    }

                }

                img {
                    border-radius: $borderfotoscenter;
                    width: auto;
                    filter: drop-shadow(2px 2px 5px black);
                    border: 2px solid #ffc34a;
                    align-items: center;

                }

            }
        }
    }

    /* FIN CONTAINER8ROW */

    /* COMIENZO CONTAINER9ROW */
    .container9row {
        margin-top: .5em;
        justify-content: center;
        margin-left: .5em;
        margin-right: .5em;
        margin-bottom: .5em;

        .row {
            border: 2px solid #6667AB;
            margin: 2px 2px 2px 3px;
            padding-top: 0.6em;
            padding-bottom: 0.6em;
            flex-direction: row;

            .col-4 {
                display: flex;
                text-align: left;

                p {
                    font-size: $fontsizenormal;
                    font-family: $fontparrafo;
                    text-align: center;

                    b {
                        font-family: $fontnavbar;
                        background-color: #ffc34a;
                    }

                }

                img {
                    border-radius: $borderfotoscenter;
                    width: auto;
                    filter: drop-shadow(2px 2px 5px black);
                    border: 2px solid #ffc34a;
                    align-items: center;

                }

            }
        }
    }

    /* FIN CONTAINER9ROW */

    .nav-item2 {
        a {
            &:hover {
                background-color: #7FF56D;
                transition: 1s;
            }
        }
    }

    .capitulo {
        background-color: rgba(34, 162, 156, 1);
        font-size: $fontsizeinterm;
        font-family: $fontparrafo;
        margin-top: 30px;
        font-weight: bold;
        justify-content: center;
        text-align: center;
        color: black;
    }

    .nombrecapitulo {
        font-family: $fontnavbar;
        font-size: $fontsizenormal;
        justify-content: center;
        text-align: center;
        margin: auto;
        color: black;
    }

    .resultado {
        font-family: $fontcursiva;
        font-size: $fontsizenormal;
        font-weight: bold;
        justify-content: center;
        text-align: center;
        margin: auto;
        background-color: #7FF56D;
        width: 350px;
    }

    .texto {
        font-size: $fontsizenormal;
        font-family: $fontparrafo;
        width: 90%;
        margin: auto;
        margin-top: 10px;
        text-align: center;
        color: black;
    }

    .containervid {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;

        iframe {
            display: inline-flex;
            justify-content: center;
            margin: 10px 5px;
            width: 32%;
            border: 2px solid #ffc34a;
        }
    }

    .palmares {

        display: flex;
        justify-content: space-between;

        .copa {

            width: 33%;
            text-align: center;
            filter: drop-shadow(4px 4px 7px black);

            p {
                font-family: $fontnavbar;
                color: #ffc34a;
            }
        }
    }
}

/* FIN BODY */

/* COMIENZO FOOTER */
footer {
    background-color: rgba(34, 162, 156, 1);
    display: flex;
    justify-content: center;
    flex-direction: row;

    .socialmedia {
        P {
            font-family: $fontnavbar;
            font-size: $fontnavbar;
            color: black;

            a {

                img {
                    cursor: pointer;

                }
            }
        }
    }
}

/* FIN FOOTER */

@import 'utilities/conditionals';
@import 'utilities/conditionalstablet';