@import url("https://fonts.googleapis.com/css2?family=Anton&family=Cinzel+Decorative:wght@700&family=Dosis:wght@200;300&family=Kaushan+Script&family=Luckiest+Guy&family=Mynerve&family=Pacifico&family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
}

header .btncampeones {
  font-size: 1.5em;
  font-family: "Kaushan Script", cursive;
  background-color: #ffc34a;
  color: black;
  justify-content: center;
  display: flex;
}
header .container-fluid {
  background-image: url(../images/veryperi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  text-align: center;
  color: white;
}
header .container-fluid .scaloneta {
  justify-content: center;
  max-width: 100%;
  height: auto;
  padding: 30px 0 0 0;
}
header .nav-item a {
  font-size: 1.3em;
  color: white;
  font-family: "Anton", sans-serif;
}
header .nav-item:hover {
  background-color: skyblue;
  filter: brightness(150%);
  color: black;
  transition: 1.5s;
}

body .container1row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container1row .row {
  border: 2px solid #ffc34a;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
body .container1row .row .col-9 {
  display: flex;
  align-items: right;
}
body .container1row .row .col-3 {
  display: flex;
  text-align: left;
}
body .container1row .row .col-3 p {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
}
body .declaracion {
  font-size: 1.5em;
  justify-content: center;
  display: flex;
  text-align: center;
  margin: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  background-color: #7FF56D;
  width: 90vw;
  font-family: "Kaushan Script", cursive;
  border-radius: 0 4.3em 0 4.3em;
}
body .container2row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container2row .row {
  border: 2px solid #ffc34a;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
body .container2row .row .col-9 {
  display: flex;
  align-items: left;
}
body .container2row .row .col-3 {
  display: flex;
  text-align: right;
}
body .container2row .row .col-3 p {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
}
body .container3row {
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  flex-direction: row;
}
body .container3row .row {
  border: 2px solid #ffc34a;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
body .container3row .row .col-3 {
  display: flex;
  text-align: left;
}
body .container3row .row .col-3 p {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
}
body .container3row .row .col-9 {
  display: flex;
  align-items: right;
}
body .container4row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container4row .row {
  border: 2px solid #ffc34a;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
body .container4row .row .col-8 {
  display: flex;
  align-items: left;
}
body .container4row .row .col-4 {
  display: flex;
  text-align: right;
}
body .container4row .row .col-4 p {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
}
body .container4row .container5row {
  margin-top: 0.5em;
  justify-content: center;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
body .container4row .container5row .row {
  border: 2px solid #ffc34a;
  margin: 2px 2px 2px 3px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
body .container4row .container5row .row .col-9 {
  display: flex;
  align-items: left;
}
body .container4row .container5row .row .col-3 {
  display: flex;
  text-align: right;
}
body .container4row .container5row .row .col-3 p {
  font-size: 1.3em;
  font-family: "Dosis", sans-serif;
}

@media only screen and (max-width: 767px) {
  header .btncampeones {
    font-size: 1.1em;
    font-family: "Kaushan Script", cursive;
  }
  header .nav-item a {
    font-size: 1.1em;
    color: white;
    font-family: "Anton", sans-serif;
  }
}

@media only screen and (max-width: 767px) {
  body .container1row .row {
    flex-direction: column-reverse;
  }
  body .container1row .row .col-3 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container1row .row .col-3 p {
    text-align: center;
    font-size: 0.7em;
    font-family: 0.7em;
  }
  body .container1row .row .col-9 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
  body .declaracion {
    font-family: "Kaushan Script", cursive;
    font-size: 1.1em;
  }
  body .container2row .row {
    flex-direction: column-reverse;
  }
  body .container2row .row .col-3 {
    display: flex;
    align-items: center;
    width: 750px;
    margin: auto;
  }
  body .container2row .row .col-3 p {
    text-align: center;
    font-size: 0.7em;
    font-family: 0.7em;
  }
  body .container2row .row .col-9 {
    justify-content: center;
    max-width: 100%;
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */