$vista: mobile;
$fontsizefootermobile: 0.5em;
$fontsizenormalmobile: 0.8em;
$fontsizeintermmobile: 1.1em;
$fontsizebigmmobile: 1.5em;
$fontparrafo: 'Dosis', sans-serif;
$fontcursiva: 'Kaushan Script', cursive;
$fontscaloneta: 'Luckiest Guy', cursive;
$fontnavbar: 'Anton', sans-serif;


header {
    @if $vista == mobile {
        @media only screen and (max-width: 767px) {
            .btncampeones {
                font-size: $fontsizenormalmobile;
                font-family: $fontcursiva;
            }

            .nav-item {
                a {
                    font-size: $fontsizenormalmobile;
                    color: white;
                    font-family: $fontnavbar;
                }

            }
            .container-fluid{
                .encabezado1 {
                    p{
                    font-size: $fontsizebigmmobile;
                    font-family: $fontscaloneta;
                }
                }
                h1{
                    font-size: $fontsizenormalmobile;
                    font-family: $fontnavbar;
                    margin-bottom: 2em;
                }
                .scaloneta{
                    filter: drop-shadow(5px 5px 7px black);

                }


        }
    }
}


}

body {
    @if $vista ==mobile {
        @media only screen and (max-width: 767px) {
            .container1row {
                .row {
                    flex-direction: column;

                    .col-4 {
                        display: flex;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            margin-top: 1em;
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }
                        img { display: inline-flex;
                        justify-content: center;
                        margin: 5px 3px;
                        width: 90%;
                        border: 1px solid #ffc34a; 
                    }
                    }

                }
            }

            .declaracion {
                font-family: $fontcursiva;
                font-size: $fontsizenormalmobile;
            }

            .decla {
                font-family: $fontcursiva;
                font-size: $fontsizenormalmobile;
            }
            .resultado {
                font-family: $fontcursiva;
                font-size: $fontsizeintermmobile;
            }
            .container2row {
                .row {
                    flex-direction: column;

                    .col-4 {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            margin-top: 1em;
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;

                        }
                        img { display: inline-flex;
                            justify-content: center;
                            margin: 5px 3px;
                            width: 90%;
                            border: 1px solid #ffc34a; 
                        }
                    }

                    .col-3 {
                        display: flex;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;

                        }
                    }

                    .col-9 {
                        justify-content: center;
                        max-width: 100%;
                        width: auto;
                    }
                }
            }

            .container3row {
                .row {
                    flex-direction: column;

                    .col-4 {
                        display: flex;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            margin-top: 1em;
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;

                        }
                        img { display: inline-flex;
                            justify-content: center;
                            margin: 5px 3px;
                            width: 90%;
                            border: 1px solid #ffc34a; 
                        }
                    }

                    .col-3 {
                        display: flex;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }
                    }

                    .col-9 {
                        justify-content: center;
                        max-width: 100%;
                        width: auto;
                    }
                }
            }

            .container4row {
                .row {
                    flex-direction: column;

                    .col-4 {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                    
                        p {
                            margin-top: 1em;
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }

                        img { display: inline-flex;
                            justify-content: center;
                            margin: 5px 3px;
                            width: 90%;
                            border: 1px solid #ffc34a; 
                        }
                    }

                    .col-8 {
                        justify-content: center;
                        max-width: 100%;
                        width: auto;
                    }
                }
            }

            .container5row {
                .row {
                    flex-direction: column;

                    .col-3 {
                        display: flex;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }
                    }

                    .col-4 {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                    
                        p {
                            margin-top: 1em;
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }

                        img { display: inline-flex;
                            justify-content: center;
                            margin: 5px 3px;
                            width: 90%;
                            border: 1px solid #ffc34a; 
                        }
                    }
                }
            }

            .container6row {
                .row {
                    flex-direction: column;

                    .col-3 {
                        display: flex;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }
                    }

                    .col-4 {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                    
                        p {
                            margin-top: 1em;
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }

                        img { display: inline-flex;
                            justify-content: center;
                            margin: 5px 3px;
                            width: 90%;
                            border: 1px solid #ffc34a; 
                        }
                    }
                }
            }
            .container7row {
                .row {
                    flex-direction: column;

                    .col-3 {
                        display: flex;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }
                    }

                    .col-4 {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                    
                        p {
                            margin-top: 1em;
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }

                        img { display: inline-flex;
                            justify-content: center;
                            margin: 5px 3px;
                            width: 90%;
                            border: 1px solid #ffc34a; 
                        }
                    }
                }
            }
            .container8row {
                .row {
                    flex-direction: column;

                    .col-3 {
                        display: flex;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }
                    }

                    .col-4 {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                    
                        p {
                            margin-top: 1em;
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }

                        img { display: inline-flex;
                            justify-content: center;
                            margin: 5px 3px;
                            width: 90%;
                            border: 1px solid #ffc34a; 
                        }
                    }
                }
            }
            .container9row {
                .row {
                    flex-direction: column;

                    .col-3 {
                        display: flex;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }
                    }

                    .col-4 {
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                    
                        p {
                            margin-top: 1em;
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }

                        img { display: inline-flex;
                            justify-content: center;
                            margin: 5px 3px;
                            width: 90%;
                            border: 1px solid #ffc34a; 
                        }
                    }
                }
            }

            .containervid {
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;
                
                iframe {
                    display: inline-flex;
                    justify-content: center;
                    margin: 5px 3px;
                    border: 1px solid #ffc34a; 
                    width: 90%;
                    height: 60%;
                  }
              }

              
              .texto {
                font-size: $fontsizenormalmobile;
                font-family: $fontparrafo;
                width: 90%;
            }

            .palmares {

                flex-direction: row;
                justify-content: right;
               
        
                .copa {
                    flex-direction: row;
                    justify-content: left;
                    margin-right: 10px;
                    filter: drop-shadow(4px 4px 7px black);
                    .tamaño{
                        width: 100%;
                        height: 80%;
                    }
        
                    p {
                        font-family: $fontnavbar;
                        font-size: $fontsizefootermobile;
                        color: #ffc34a;
                        width: 100%;
                        height: 80%;
                    }
                }
            }
        }

       
    }
   

}

footer {
    @if $vista ==mobile {
        @media only screen and (max-width: 767px) {
            .socialmedia {
                flex-direction: column;
                justify-content: center;

                p {
                    flex-direction: column;
                    justify-content: center;
                    font-size: $fontsizenormalmobile;

                    a {
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
        }
    }
}