$vista: tablet;
$fontsizenormaltablet: 1.1em;
$fontsizeintermtablet: 1.3em;
$fontparrafo: 'Dosis', sans-serif;
$fontcursiva: 'Kaushan Script', cursive;
$fontscaloneta: 'Luckiest Guy', cursive;
$fontnavbar: 'Anton', sans-serif;


header {
    @if $vista == tablet {
        @media only screen and (min-width: 768px) and (max-width: 1200px) {
            .btncampeones {
                font-size: $fontsizenormaltablet;
                font-family: $fontcursiva;
            }

            .nav-item {
                a {
                    font-size: $fontsizenormaltablet;
                    color: white;
                    font-family: $fontnavbar;
                }

            }
            .container-fluid{
                .encabezado1 {
                    p{
                    font-size: $fontsizebigtablet;
                    font-family: $fontscaloneta;
                }
                }
                .encabezado1btn{
                    font-size: $fontsizeintermtablet;
                    font-family: $fontnavbar;
                    margin-bottom: 2em;
                }


        }
        }
    }

}

body {
    @if $vista == tablet {
        @media only screen and (min-width: 768px) and (max-width: 1200px) {
            .container1row {
                .row {
                    flex-direction: column-reverse;
                    .col-3 {
                     display: flex;
                     align-items: center;
                     width: 1150px;
                     margin: auto;
                        p {
                            text-align: center;
                            font-size: $fontsizenormaltablet;
                            font-family: $fontsizenormalmobile;
                            
                        }
                    }
                    .col-9{
                        justify-content: center;
                        max-width: 100%; width: auto;
                    }
                }
            }

            .declaracion {
                font-family: $fontcursiva;
                font-size: $fontsizenormaltablet;
            }

            .container2row {
                .row {
                    flex-direction: column-reverse;
                    .col-3 {
                     display: flex;
                     align-items: center;
                     width: 1150px;
                     margin: auto;
                        p {
                            text-align: center;
                            font-size: $fontsizenormaltablet;
                            font-family: $fontsizenormalmobile;
                            
                        }
                    }
                    .col-9{
                        justify-content: center;
                        max-width: 100%; width: auto;
                    }
                }
            }
            .container3row {
                .row {
                    flex-direction: column-reverse;
                    .col-3 {
                     display: flex;
                     align-items: center;
                     width: 1150px;
                     margin: auto;
                        p {
                            text-align: center;
                            font-size: $fontsizenormaltablet;
                            font-family: $fontsizenormalmobile;
                            
                        }
                    }
                    .col-9{
                        justify-content: center;
                        max-width: 100%; width: auto;
                    }
                }
            }
            .container4row {
                .row {
                    flex-direction: column-reverse;
                    .col-4 {
                     display: flex;
                     align-items: center;
                     width: 1150px;
                     margin: auto;
                        p {
                            text-align: center;
                            font-size: $fontsizenormaltablet;
                            font-family: $fontsizenormalmobile;
                            
                        }
                    }
                    .col-8{
                        justify-content: center;
                        max-width: 100%; width: auto;
                    }
                }
            }

            .container5row {
                .row {
                    flex-direction: column-reverse;
                    .col-3 {
                     display: flex;
                     align-items: center;
                     width: 1150px;
                     margin: auto;
                        p {
                            text-align: center;
                            font-size: $fontsizenormaltablet;
                            font-family: $fontsizenormalmobile;
                            
                        }
                    }
                    .col-9{
                        justify-content: center;
                        max-width: 100%; width: auto;
                    }
                }
            }




            .containervid {
                flex-direction: column;
                display: flex;
                justify-content: center;
                align-items: center;
                width: auto;
                iframe {
                    display: inline-flex;
                    justify-content: center;
                    margin: 5px 3px;
                    width: 90%;
                    border: 1px solid #ffc34a; 
                  }
              }

        }










    }

}
