$vista: mobile;
$fontsizenormalmobile: 0.7em;
$fontsizeintermmobile: 1.1em;
$fontparrafo: 'Dosis', sans-serif;
$fontcursiva: 'Kaushan Script', cursive;
$fontscaloneta: 'Luckiest Guy', cursive;
$fontnavbar: 'Anton', sans-serif;


header {
    @if $vista ==mobile {
        @media only screen and (max-width: 767px) {
            .btncampeones {
                font-size: $fontsizenormalmobile;
                font-family: $fontcursiva;
            }

            .nav-item {
                a {
                    font-size: $fontsizenormalmobile;
                    color: white;
                    font-family: $fontnavbar;
                }

            }
        }
    }

}

body {
    @if $vista ==mobile {
        @media only screen and (max-width: 767px) {
            .container1row {
                .row {
                    flex-direction: column-reverse;

                    .col-3 {
                        display: flex;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;

                        }
                    }

                    .col-9 {
                        justify-content: center;
                        max-width: 100%;
                        width: auto;
                    }
                }
            }

            .declaracion {
                font-family: $fontcursiva;
                font-size: $fontsizenormalmobile;
            }

            .container2row {
                .row {
                    flex-direction: column-reverse;

                    .col-3 {
                        display: flex;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;

                        }
                    }

                    .col-9 {
                        justify-content: center;
                        max-width: 100%;
                        width: auto;
                    }
                }
            }

            .container3row {
                .row {
                    flex-direction: column-reverse;

                    .col-3 {
                        display: flex;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }
                    }

                    .col-9 {
                        justify-content: center;
                        max-width: 100%;
                        width: auto;
                    }
                }
            }

            .container4row {
                .row {
                    flex-direction: column-reverse;

                    .col-4 {
                        display: flex;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }
                    }

                    .col-8 {
                        justify-content: center;
                        max-width: 100%;
                        width: auto;
                    }
                }
            }

            .container5row {
                .row {
                    flex-direction: column-reverse;

                    .col-3 {
                        display: flex;
                        align-items: center;
                        width: 750px;
                        margin: auto;

                        p {
                            text-align: center;
                            font-size: $fontsizenormalmobile;
                            font-family: $fontsizenormalmobile;
                        }
                    }

                    .col-9 {
                        justify-content: center;
                        max-width: 100%;
                        width: auto;
                    }
                }
            }
        }
    }
}

footer {
    @if $vista ==mobile {
        @media only screen and (max-width: 767px) {
            .socialmedia {
                flex-direction: column;
                justify-content: center;

                p {
                    flex-direction: column;
                    justify-content: center;
                    font-size: $fontsizenormalmobile;

                    a {
                        flex-direction: column;
                        justify-content: center;
                    }
                }
            }
        }
    }
}