$fontsizenormal: 1.1em;
$fontsizebig: 5vw;
$fontsizeinterm: 1.5em;
$fontparrafo: 'Dosis', sans-serif;
$fontcursiva: 'Kaushan Script', cursive;
$fontscaloneta: 'Luckiest Guy', cursive;
$fontnavbar: 'Anton', sans-serif;