$fontsizenormal: 1.4em;
$fontsizeinterm: 1.5em;
$fontsizebig: 3em;
$fontsizenormalmobile: 0.8em;
$fontsizeintermmobile: 1em;
$fontsizebigmmobile: 1.5em;
$fontsizenormaltablet: 1.1em;
$fontsizeintermtablet: 1.3em;
$fontsizebigtablet: 2em;
$fontparrafo: 'Dosis', sans-serif;
$fontcursiva: 'Kaushan Script', cursive;
$fontscaloneta: 'Luckiest Guy', cursive;
$fontnavbar: 'Anton', sans-serif;
$borderfotosder: 0 4em 0 4em;
$borderfotosizq: 4em 0 4em 0;
$borderfotoscenter: 1em 1em 1em 1em; 